anaconda3/
Anaconda3-2022.05-Linux-x86_64.sh*
__pycache__/
nltk_data/
lenta_2020-01-01_2020-03-31.xlsx
rbc_01.01.2021_28.02.2021.xlsx
nohup.out
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.gitignore
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.profile
.python_history
.gitconfig
.ssh/
.viminfo
klerk_news.json
cfo_news.json

